*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --principal: #f2f2f2;
  --segundario: #ee1c25;
  --white: #fff;
  --grey: #ccc;
  ;
  --terciario: #010000;
  --box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%),
    0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);

  --doral: #585123;
  --blackHover: #58512385;
  --box-sha: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  --box-shadow2: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--principal);
  font-family: 'Roboto', sans-serif;
}

input[type='text'],
input[type='tel'],
input[type='number'],
select,
textarea {
  border-radius: 4px;
  border: 1px solid var(--grey);
  box-sizing: border-box;
  padding: 12px;
  resize: vertical;
  width: 100%;
}

input[type='radio'],
input[type='radio']:checked+label:before,
input[type='checkbox'],
input[type='checkbox']:checked+label:before {
  display: none;
}

input[type='radio']:checked+label,
input[type='checkbox']:checked+label {
  background: var(--segundario);
  color: var(--white);
}

button {
  background-color: var(--segundario);
  border: 1px var(--segundario) solid;
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
  height: -moz-min-content;
  height: -webkit-min-content;
  height: min-content;
  letter-spacing: 2px;
  overflow: hidden;
  padding: 15px 20px;
  position: relative;
  text-transform: uppercase;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content;
}

button:focus {
  outline: none;
}

button .circle {
          animation: scale 0.5s ease-out;
  -webkit-animation: scale 0.5s ease-out;
  background-color: var(--white);
  border-radius: 50%;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  width: 100px;
}

@-webkit-keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

.chip {
  background-color: #ee1c274c;
  border: 1px var(--segundario) solid;
  font-size: 1.2rem;
  padding: 0 3px;
}

.container {
  padding: 2.5rem;
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  display: grid;
  row-gap: 10px;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.none {
  display: none;
}

.float {
  float: right !important;
}