.modals-uno,
.modals-dos,
.modal-tres {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.modals-dos .modal-content {
  height: 65vh;
  overflow: auto;
  width: 30%;
}

.serchModal {
  position: relative;
}

.formModal input {
  margin-bottom: 10px;
}

.formModal label {
  font-size: 1.6rem;
}

.modal-content-recibe {
  border-radius: 0px !important;
  display: grid;
  height: inherit;
  width: inherit;
}

.modal-content-space {
  display: grid;
  row-gap: 15px;
  width: fit-content;
}

.modal-content,
.modal-content-Formato {
  background-color: var(--white);
  border-radius: 0.5rem;
  left: 50%;
  padding: 1rem 1.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.close-button,
.formato-close {
  background-color: var(--terciario);
  border-radius: 0.25rem;
  color: var(--segundario);
  cursor: pointer;
  cursor: pointer;
  float: right;
  height: min-content;
  line-height: 1.5rem;
  text-align: center;
  transition: all .3s;
  width: 1.5rem;
}

.close-button {
  font-size: 3.2rem;
  height: 20px;
  position: absolute;
  right: 25px;
  top: 18px;
  width: 20px;
}

.close-button:hover,
.formato-close:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  visibility: visible;
}

#Buscador {
  background-size: 24px;
  background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
  border-bottom: solid 1px #ccc;
  border: transparent;
  margin-bottom: 10px;
  outline: none;
  padding: 10px 10px 10px 30px;
}

/* ''''''''''''''''''' */
#encontro {
  display: grid;
  margin-bottom: 10px;
  row-gap: 10px;
}

.serch {
  align-items: center;
  border: 1px var(--segundario) solid;
  column-gap: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.serch div {
  display: grid;
  font-size: 1.6rem;
  padding: 10px;
  row-gap: 7px;
}