.nav {
  display: flex;
  column-gap: 30px;
  align-items: center;
  padding: 10px;
  justify-content: center;
}

.nav h1 {
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: end;
}
