main {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.form-pantalla {
       column-gap: 40px;
  -moz-column-gap: 40px;
  display: flex;
  justify-content: center;
}

/* form */
/* ------------------------------------------------------------------- */
.sticky {
  background-color: var(--principal);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  transition: all ease 1s;
}

.form-pantalla .form {
  border-radius: 10px;
  border: 1px var(--segundario) solid;
  display: grid;
  padding: 10px;
  row-gap: 10px;
}
/* ------------------------------------------------------------------- */
.form-pantalla .form .titulo {
  font-size: 2rem;
  padding: 10px;
  text-transform: uppercase;
}

.form-pantalla .form .form-cont {
  display: grid;
  padding: 10px;
  row-gap: 10px;
}

.form-pantalla .form .form-cont.btn {
       column-gap: 10px;
  -moz-column-gap: 10px;
  display: inline-flex;
  justify-content: flex-end;
}

.form-pantalla .form .form-cont:nth-child(3) {
  border: 1px var(--segundario) solid;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

.form-pantalla .form .form-cont .sub-titulo {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------- */
.form-pantalla .form .form-cont .form-control {
  display: grid;
  row-gap: 5px;
}

/* ------------------------------------------------------------------- */
/* Tipo group */
.form-pantalla .form .form-cont .form-control select {
  cursor: pointer;
  font-size: 1.4rem;
  width: 50%;
}

.form-pantalla .form .form-cont .form-control select option {
  background-color: var(--terciario);
  color: var(--white);
}

/* Tipo group */
/* ------------------------------------------------------------------- */
/* Dimensiones group */
.form-pantalla .form .form-cont #medida {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

/* Dimensiones group */
/* ------------------------------------------------------------------- */
.form-pantalla .form .form-cont #formatResolution img {
  height: 450px;
  width: 400px;
}

#formatResolution .modal-content-Formato {
  padding: 0;
}

#formatResolution .modal-content-Formato .modal-content-uno {
       column-gap: 10px;
  -moz-column-gap: 10px;
  background-color: var(--white);
  display: flex;
  height: -moz-min-content;
  height: -webkit-min-content;
  height: min-content;
  padding: 10px;
  position: relative;
}

#formatResolution .modal-content-Formato .modal-content-uno .modal-content-space {
  display: grid;
  row-gap: 10px;
}

#formatResolution .modal-content-Formato .modal-content-uno .modal-content-space div {
  padding: 10px;
}

#formatResolution .modal-content-Formato .modal-content-uno .modal-content-space div label,
#acabados .form-control label,
#sucursales .form-control label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  padding: 10px 15px 10px 51px;
  position: relative;
  transition: all .3s ease-in-out;
}

#formatResolution .modal-content-Formato .modal-content-uno .modal-content-space div label::before,
#acabados .form-control label::before,
#sucursales .form-control label::before {
  background-color: var(--white);
  background: none;
  border-radius: 50px;
  border: 3px solid var(--segundario);
  content: "";
  display: inline-block;
  height: 25px;
  left: 15px;
  position: absolute;
  top: 6px;
  width: 25px;
}

#acabados .form-control label::before {
  border-radius: 0;
}

#formatResolution .modal-content-Formato .modal-content-uno .modal-content-space div label:hover::before,
#acabados .form-control label:hover::before,
#sucursales .form-control label:hover::before {
  background: var(--segundario);
  border: 3px solid var(--terciario);
  transition: all .3s ease-in-out;
}

#formatResolution .modal-content-Formato .modal-content-uno .formato-close {
  font-size: 2.5rem;
  height: 20px;
  position: absolute;
}

/* acabados-sucursales */
.acabados-sucursales {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.acabados-sucursales .form-cont {
  border: 1px var(--segundario) solid;
  width: -webkit-fill-available;
}

.acabados-sucursales .form-cont #acabados,
.acabados-sucursales .form-cont #sucursales {
  display: grid;
  row-gap: 10px;
}

/* pantalla */
.form-pantalla .pantalla {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: grid;
  height: -moz-min-content;
  height: -webkit-min-content;
  height: min-content;
  padding: 15px;
  row-gap: 10px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 357.11px;
}


/* ------------------------------------------------------------------- */
/* btn-group */
.form-pantalla .pantalla .btn-group {
       column-gap: 10px;
  -moz-column-gap: 10px;
  border: 1px var(--segundario) solid;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

/* btn-group */
/* ------------------------------------------------------------------- */
/* canvas */
.form-pantalla .pantalla .canvas {
  border: 1px var(--segundario) solid;
  display: grid;
  padding: 1rem;
  place-items: center;
}

/* canvas */
/* ------------------------------------------------------------------- */
/* card */
.form-pantalla .pantalla .card {
  border: 1px var(--segundario) solid;
  display: grid;
  padding: 10px;
  row-gap: 10px;
}

.form-pantalla .pantalla .card h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.form-pantalla .pantalla .card .resumen {
  display: grid;
  font-size: 1.4rem;
  row-gap: 5px;
  transition: ease-in-out 1s !important;
}

